[submodule "lib/use-package"]
	path = lib/use-package
	url = https://github.com/jwiegley/use-package
[submodule "lib/s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "lib/dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "lib/emacs-request"]
	path = lib/emacs-request
	url = https://github.com/tkf/emacs-request
[submodule "lib/emacs-async"]
	path = lib/emacs-async
	url = https://github.com/jwiegley/emacs-async
[submodule "lib/avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "lib/ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "lib/find-file-in-project"]
	path = lib/find-file-in-project
	url = https://github.com/redguardtoo/find-file-in-project
[submodule "lib/which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "lib/ido-completing-read-plus"]
	path = lib/ido-completing-read-plus
	url = https://github.com/DarwinAwardWinner/ido-completing-read-plus.git
[submodule "lib/amx"]
	path = lib/amx
	url = https://github.com/DarwinAwardWinner/amx.git
[submodule "lib/wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "lib/transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "lib/deadgrep"]
	path = lib/deadgrep
	url = https://github.com/Wilfred/deadgrep.git
[submodule "lib/spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el.git
